.theme1_6 {
  background-color: #FBF4DC;
  color: #4BA7A0;
}

.theme1_5 {
  background-color: #9DD0C9;
}

.theme1_4 {
  background-color: #4BA7A0;
}

.theme1_3 {
  background-color: #EE8163;
}

.theme1_2 {
  background-color: #F5BA6E;
}

.theme1_1 {
  background-color: #412462;
  color: #F5BA6E;
}

button.theme1_1:hover {
  background-color: #EE8163;
  color: #F5BA6E;
}



.one {
  /* background-color: #ddd; */
  background-color: #FCFB7E;
  /* background-color: #fff; */
}

.two {
  background-color: #3DADE2;
  /* background-color: #ccc; */
}

.home_banner {
  padding: 60px 60px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.home_banner h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.home_banner p {
  font-size: 22px;
  line-height: 30px;
}

.edit-homepage_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.edit-homepage_header h2 {
  text-align: center;
  font-weight: 400;
}

.edit-homepage_header .next-button {
  margin-top: 40px;
  ouline: none;
  border: 0;
  padding: 15px 20px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  transition: .5s all;
}

.edit-homepage_header button:hover {
  cursor: pointer;
}

.edit-homepage_input {
  border: none;
  border-bottom: 3px solid #fff;
  outline: none;
  background: none;
  font-size: 24px;
  text-align: center;
  padding: 0 5px;
  margin: 0 3px;
  font-family: "Montserrat";
  font-weight: 700;
  transition: .5s all;
}

.account-input {
  position: relative;
}

.account-input_input {
  margin: 5px;
  padding: 7px;
  min-width: 400px;
  text-align: left;
  color: #fff;
}

.account-input_input-wrap {
  margin: 0;
  padding: 0;
  position: relative;
}

.account-input_tool-tip {
  display: block;
  position: absolute;
  left: 425px;
  width: 250px;
  height: 100%;
  text-align: left;
  top: 0;
}

.input-status {
  display: block;
  position: absolute;
  right: 5px;
  bottom: 10px;
  font-size: 14px;
}

.input-status_message {
  padding-left: 4px;
}



.edit-homepage_input:hover {
  cursor: pointer;
}

.edit-homepage_input:focus {
  cursor: none;
  background-color: #419B94 !important;
}
