.one {
  background-color: #ddd;
}

.two {
  background-color: #ccc;
}
.home_banner {
  padding: 60px 60px;
}

.home_banner h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.home_banner p {
  font-size: 22px;
  line-height: 30px;
}

.edit-homepage_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.edit-homepage_header h2 {
  text-align: center;
  font-weight: 400;
}

.edit-homepage_header .next-button {
  background-color: #56DCE1;
  ouline: none;
  border: 0;
  color: white;
  padding: 10px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  transition: .5s all;
}

.edit-homepage_header button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.edit-homepage_input {
  border: none;
  border-bottom: 1px solid #aaa;
  outline: none;
  background: none;
  font-size: 24px;
  text-align: center;
  padding: 0 5px;
  margin: 0 3px;
  font-family: "Montserrat";
  font-weight: 700;
  transition: .5s all;
}

.edit-homepage_input:hover {
  cursor: pointer;
}

.edit-homepage_input:focus {
  cursor: none;
  background-color: #ccc !important;
}
