.Nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar_link {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  transition: .5s all;
  color: #F5BA6E
}

.navbar_link:hover {
  background-color: #EE8163;
}

.end {
  margin-left: auto;
}
