.project-list_wrapper {
  display: flex;
  flex-direction: column;
}

.project-list_item {
  position: relative;
  background-color: #F5BA6E;
  color: #412462;
  margin-bottom: 5px;
  padding: 20px 50px;
}

.project-list_item.is-owner {
  background-color: #EE8163;
  color: #412462;
}

.project-list_meta-data {
  font-size: 14px;
}

.project-list_meta-data-item {
  padding-left: 5px;
}

.small {
  font-size: 10px;
}

/* project input */

.project-input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 600px;
}

.project-input_inputs {
  font-family: "Montserrat";
  background-color: #F5E8B9;
  border: 0;
  flex: 1;
  font-size: 14px;
  margin-bottom: 10px;
  /* width: 600px; */
  padding: 10px;
  outline: none;
}

.project-input_label {
  font-size: 18px;
  padding: 10px 10px 10px 0px;
  margin: 0;
}

.project-input_select {
  font-size: 18px;
  padding: 10px;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-bottom: 3px solid #fff;
  outline: none;
}

.project-input_row {
  display: flex;
  flex-direction: row;
}

.project-input_inputs[type="title"] {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-input_inputs[type="description"] {
  font-size: 18px;
  height: 200px;
  resize: vertical;
}

.project-input_list-display {
  margin: 10px 0px;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  background-color: #FAF4DF;
}

.project-input_list-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.project-input_list-display > div {
  margin-right: 10px;
}

/* volunteers */
.volunteer_wrap {
  padding: 10px 0px;
  /*
  border: 1px solid #000;
  background: #eee; */
}

.volunteer_item {
  margin: 5px 0px;
  padding: 5px;
}
